<ul class="challenge-list">
  {{#each challenges as |challenge|}}
  <li>
    <a href="/challenge/{{challenge.id}}">
      <h3 class="challenge-title">Challenge {{challenge.id}}</h3>
      <p class="challenge-status">{{challenge.status}}</p>
    </a>
  </li>
  {{/each}}
</ul>