<ul class="challenge-list">
  {{#each challenges as |challenge|}}
    <a href="/challenge/{{challenge.id}}"><li>
      <h3 class="challenge-title">Challenge {{challenge.id}}</h3>
      <p class="challenge-status">{{challenge.status}}</p>
    </li></a>
  {{/each}}
</ul>