<div class="d-flex justify-content-center">
  {{#if isForm}}
    {{> challenge_form}}
  {{else}}
    {{#if isEnded}}
      {{> challenge_result}}  
    {{else}}
      {{> challenge_data}}
    {{/if}}
    
  {{/if}}

  {{#if hasSubmission}}
    {{> challenge_submission}}
  {{/if}}
</div>



{{!-- <script src="/js/submitPortfolio.js"></script> --}}