<div class="card">
  <h2>Leaderboard!</h2>
  <ul>
    {{#each challenges as |challenge|}}
      <li class="card">
        <h2>Challenge {{challenge.id}}</h2>
        <p>Top User: {{challenge.topPortfolio.user_id}}</p>
        <p>Top Portfolio Value: {{challenge.maxValue}}</p>
      </li>
    {{/each}}
  </ul>
</div>