<div class="leader-card text-center mx-auto" style="width: 600px;">
    <h2 class="card-header">Leaderboard!</h4>
    <p>Closed Challenge Results</p>
</div>
  <div class="card-body mx-auto" style="width: 600px;">
    <ul>
    {{#each challenges as |challenge|}}
      <li class="leader-list">
        <h3 class="challenge-card-header text-center">Challenge {{challenge.id}}</h2>
        <p>Top User: {{challenge.topPortfolio.username}}</p>
        <p>Top Portfolio Gains: {{challenge.maxGain}}</p>
        <hr class="my-4">
      </li>
    {{/each}}
    </ul>
  </div>