<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <ul class="navbar-nav mr-auto">
        <li class="nav-brand"><img class="nav-brand" src="../public/assets/fantasy-logo.png"></li>
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/">Leaderboard</a></li>
      {{#if loggedin}}
        <li class="nav-item"><a class="nav-link" href="/">Portfolio</a></li>
        <li class="nav-item"><a class="nav-link" href="/">Logout</a></li>
      {{else}}
        <li class="nav-item"><a class="nav-link" href="/">Login</a></li>
       <li class="nav-item"><a class="nav-link" href="/">Sign-up</a></li>
      {{/if}}
    </ul>
    </nav>
  </header>

<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    
    <footer>
      <p>@Copyright FantasyCrypto</p>
  </footer>

<script src="./js/login.js"></script>
