<div class="card profile-page">
  <h2>User {{user.id}}</h2>
  <p>All Portfolios</p>
  <ul>
  {{#each portfolios as |portfolio|}}
    <a href="/portfolio/{{portfolio.id}}">
      <li>
        <h3>Challenge {{portfolio.challenge_id}}</h3>
      </li>
    </a>


  {{/each}}
  </ul>
</div>